html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

@media (prefers-color-scheme: light) {
:root {
    --content-color: #111;
    --content-background-color: #eee;
    --sidebar-background-color: #ddd;
    --link-color: #00f;
    --link-hover-color: #fff;
}
}
@media (prefers-color-scheme: dark) {
:root {
    --content-color: #eee;
    --content-background-color: #151515;
    --sidebar-background-color: #222;
    --link-color: #0f0;
    --link-hover-color: #000;
}
}

@media only screen and (min-width: 600px) {
:root {
    --sidebar-display: block;
    --sidebar-width: 170px;
    --sidebar-footer-width: 160px;
    --content-sidebar-width: 180px;
}
}
@media only screen and (max-width: 600px) {
:root {
    --sidebar-display: none;
    --sidebar-width: 0;
    --sidebar-footer-width: 0;
    --content-sidebar-width: 10px;
}
}

#sidebar {
    display: var(--sidebar-display);
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: var(--content-color);
    background-color: var(--sidebar-background-color);
    overflow-x: hidden;
    padding-left: 10px;
}

#sidebar footer {
    position: absolute;
    width: var(--sidebar-footer-width);
    bottom: 0;
}

body {
    background-color: var(--content-background-color);
}

#content,
#inner-content {
    height: 100%;
    color: var(--content-color);
    background-color: var(--content-background-color);
    margin-top: -20px;
    margin-left: var(--content-sidebar-width);
    padding-right: var(--content-sidebar-width);
    padding-top: 20px;
    padding-left: 10px;
}

h1 {
    font-family: Monospace;
}

h2 {
    font-family: Monospace;
}

h3 {
    font-family: Monospace;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}

a, a:link, a:visited {
    font: bold 12pt Monospace;
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    font: bold 12pt Monospace;
    color: var(--link-hover-color);
    background-color: #fff;
    text-decoration: none;
}

#main
{
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.post
{
    border: 0;
    color: var(--content-color);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

